*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.15;
  font-size: 14px;
  color: #444;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: #6E7173;
  text-decoration: none;
  transition: all .1s ease-in;
  &:hover {
    color: #444;
  }
}

ul,
ol {
  list-style: none;
}

button,
input {
  font: inherit;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: rgb(237, 237, 237);
    background-color: rgb(37, 37, 37);
  }
  a {
    color: rgb(235, 230, 230);
    text-decoration: none;
    transition: all .3s ease-in;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}
